.item{
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 2.2rem;
    border-radius: 0.5rem;
    width: 120px;
    background-color: #3d7270;
    text-align: center;
} 
.active{
   background-color:#019d77;
}
