.answers__option{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #282c34;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}
.answers__option:hover{
    background-color: #282c34;
}
.answers__flag{
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: #282c34;
}
.answers__option-name{
    margin-left: 1rem;
}